*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#010101;
  font-family:"Anton", sans-serif;
}
section{
  height:100vh;
  display:grid;
  place-items:center;
}
section h2{
  color:#fff;
  text-transform:capitalize;
  font-size:40px;
}
.wrapper{
  display:flex;
  align-items:center;
  width:80vw;
  height:70vmin;
}
.bar{
  width:100%;
  border-radius:10px;
  background-image:url("image/sumit.jpeg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
  box-shadow:0 10px 20px rgba(0,0,0,0.8);
  border:2px solid #eee;
}
.bar:nth-child(1){
  height:80%;
  z-index: 9;
}
.bar:nth-child(2){
  height:80%;
  z-index: 8;
}
.bar:nth-child(3){
  height:100%;
}
.bar:nth-child(4){
  height:80%;
 
}
.bar:nth-child(5){
  height:80%;
}
.bar:not(:last-child){
    margin-right: -5px;
}

